<html>
  <body>
  <h1>Welcome to the Recipe App</h1>
  
  {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
           <h2><font color="red"> {{ message }} </font></h2>
         </div>
      {%- endfor %}
  
    <form method="POST" action= "{{ request.path }}">
      <div class="form-group" align="center">
          <label for="title"><br>Title<br></label>
          <input type="text" name="title" placeholder="Enter Title">
      </div>
      <div class="form-group" align="center">
          <label for="ingredients"><br>Ingredients<br></label>
          <textarea name="ingredients" placeholder="Enter Ingredients"></textarea>
      </div>
      <div class="form-group" align="center">
          <label for="ingredients"><br>Steps<br></label>
          <textarea name="steps" placeholder="Enter Steps"></textarea>
      </div>
      <br>
      <div class="form-group" align="center">
          <input type="submit" value="Add Recipe">
      </div>
    </form>
    
