
<!DOCTYPE html>
<html lang = "en">
   <head>
   
   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    
    <style>
body {
background-repeat: no-repeat;
background-size:cover;
background-attached:fixed;
  background-image:url({{url_for('static',filename='showpage.jpg')}});
}
</style>
   
   </head>

  <body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a href="{{ url_for('show_all')}}" style="color:white;">Show Recipe List</a>
      
      </nav>
  
  
  <h1><font color='green'>Welcome to the Recipe App</font></h1>
  
  {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
           <h2><font color="red"> {{ message }} </font></h2>
         </div>
      {%- endfor %}
  
    <form method="POST" action= "{{ request.path }}">
      <div class="form-group" align="center">
          <label for="title"><br>Title</label>
          <input type="text" name="title" placeholder="Enter Title">
      </div>
      <div class="form-group" align="center">
          <label for="ingredients"><br>Ingredients<br></label>
          <textarea name="ingredients" placeholder="Enter Ingredients"></textarea>
      </div>
      <div class="form-group" align="center">
          <label for="ingredients"><br>Steps<br></label>
          <textarea name="steps" placeholder="Enter Steps"></textarea>
      </div>
      <br>
      <div class="form-group" align="center">
          <input type="submit" value="Add Recipe">
      </div>
    </form>
    
