<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask 
            SQLAlchemy example</a>
      </h3>
      
      <hr/>
     
      
      <table>
         <thead>
            <tr>
               <th>Recipe_Title</th>
               <th>I</th>
               <th>S</th>
            </tr>
         </thead>
         
         <tbody>
            {% for r in Rec %}
               <tr>
                  <td>{{ r.Title }}</td>
                  <td>{{ r.Ingredients }}</td>
                  <td>{{ r.Steps }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>